{"swagger":"2.0","info":{"version":"1.0.0","title":"Imentiv API","description":"Imentiv API - Understand the emotions in your images with Imentiv AI.\nDiscover the emotional makeup of your image with our advanced AI"},"host":"api.imentiv.ai","basePath":"/","schemes":["https"],"consumes":[],"produces":["application/json"],"paths":{"/v1/audios/{audio_id}/summary":{"get":{"summary":"Get Audio Summary","description":"Get audio summary based on audio_id","operationId":"GetAudioSummary","parameters":[{"name":"audio_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"summary":{"type":"string","description":"summary"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"put":{"summary":"Edit Summary","description":"Update or clear the summary for a specific audio file","operationId":"EditSummary","parameters":[{"name":"audio_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"}},"default":{"key":"summary","value":"<string>"}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"summary":{"type":"string","description":"summary"},"message":{"type":"string","description":"message"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/audios/{audio_id}":{"get":{"summary":"Get Audio","description":"Retrieve Single Audio based on audio_id.","operationId":"GetAudio","parameters":[{"name":"audio_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"created_at":{"type":"object","properties":{},"description":"created_at"},"status":{"type":"string","description":"status"},"id":{"type":"string","description":"id"},"url":{"type":"string","description":"url"},"audio_duration":{"type":"string","description":"audio_duration"},"user_id":{"type":"string","description":"user_id"},"process_status":{"type":"string","description":"process_status"},"title":{"type":"string","description":"title"},"emotions":{"type":"string","description":"emotions"},"segment_emotions":{"type":"array","items":{"type":"string"},"description":"segment_emotions"},"speaker_data":{"type":"array","items":{"type":"string"},"description":"speaker_data"},"summary":{"type":"string","description":"summary"},"bulk_upload_id":{"type":"string","description":"bulk_upload_id"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"delete":{"summary":"Delete Audio By Id","description":"Delete the processed details of an audio file by its unique audio ID.","operationId":"DeleteAudioById","parameters":[{"name":"audio_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"put":{"summary":"Reprocess Audio","description":"Reprocess an audio file based on audio id.","operationId":"ReprocessAudio","parameters":[{"name":"audio_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"reprocess","value":"<boolean>","description":"Set to 'True' to reprocess an already completed audio; defaults to 'False'."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"},"message":{"type":"string","description":"message"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/audios/{audio_id}/title_description":{"put":{"summary":"Edit Title And Description By Id","description":"Edit the title and desciption of an audio  based on the provided audio ID.","operationId":"EditTitleAndDescriptionById","parameters":[{"name":"audio_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"}},"default":{"key":"description","value":"<string>"}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"status":{"type":"string","description":"status"},"message":{"type":"string","description":"message"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/audios/{audio_id}/speakers/{speaker_id}/name":{"put":{"summary":"Update Speaker Name","description":"Update the name of a specific speaker within an audio document.","operationId":"UpdateSpeakerName","parameters":[{"name":"audio_id","default":"<string>","in":"path","type":"string","required":true},{"name":"speaker_id","default":"<integer>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"}},"default":{"key":"speaker_name","value":"<string>"}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/audios/{audio_id}/{segment_index}":{"delete":{"summary":"Delete Segment","description":"Delete a specific segment within an audio document.","operationId":"DeleteSegment","parameters":[{"name":"audio_id","default":"<string>","in":"path","type":"string","required":true},{"name":"segment_index","default":"<integer>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"segment_id":{"type":"string","description":"segment_id"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/audios/{audio_id}/transcripts_timestamps":{"put":{"summary":"Update Transcripts","description":"Update transcripts and timestamps for a specific video.","operationId":"UpdateTranscripts","parameters":[{"name":"audio_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"object","properties":{"segments":{"type":"array","items":{"type":"object","properties":{"start_millis":{"type":"string","description":"start_millis"},"end_millis":{"type":"string","description":"end_millis"},"sentence":{"type":"string","description":"sentence"},"speaker_id":{"type":"string","description":"speaker_id"}}},"description":"segments"},"callback_url":{"type":"string","description":"callback_url"}},"default":{"segments":[{"start_millis":"<integer>","end_millis":"<integer>","sentence":"<string>","speaker_id":"<integer>"},{"start_millis":"<integer>","end_millis":"<integer>","sentence":"<string>","speaker_id":"<integer>"}],"callback_url":"<string>"}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"message":{"type":"string","description":"message"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/audios":{"get":{"summary":"Get Audios","description":"API to get audios processed by user.","operationId":"GetAudios","parameters":[{"name":"start_after","default":"<string>","in":"query","type":"string","required":true},{"name":"page_size","default":"10","in":"query","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"},"title":{"type":"string","description":"title"}}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"post":{"summary":"Audio Emotion","description":"API for uploading an audio for emotion analysis.","operationId":"AudioEmotion","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"multipart/form-data","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"},"title":{"type":"string","description":"title"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/frames/{frame_id}":{"get":{"summary":"Get Frame","description":"Get a unique frame details based on video_id and frame_id","operationId":"GetFrame","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"frame_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"original_frame_image":{"type":"string","description":"original_frame_image"},"frame_image":{"type":"string","description":"frame_image"},"found_faces":{"type":"array","items":{"type":"string"},"description":"found_faces"},"timestamp":{"type":"string","description":"timestamp"},"faces":{"type":"array","items":{"type":"object","properties":{"face_id":{"type":"string","description":"face_id"},"box":{"type":"array","items":{"type":"string"},"description":"box"},"frame_id":{"type":"string","description":"frame_id"},"emotions":{"type":"object","properties":{"angry":{"type":"string","description":"angry"},"contempt":{"type":"string","description":"contempt"},"disgust":{"type":"string","description":"disgust"},"fear":{"type":"string","description":"fear"},"happy":{"type":"string","description":"happy"},"neutral":{"type":"string","description":"neutral"},"sad":{"type":"string","description":"sad"},"surprise":{"type":"string","description":"surprise"}},"description":"emotions"}}},"description":"faces"},"frame_id":{"type":"string","description":"frame_id"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/frames/{frame_id}/dominant_emotion":{"get":{"summary":"Get Dominant Emotion","description":"Retrieve Dominant Emotion for a Specific Frame","operationId":"GetDominantEmotion","parameters":[{"name":"face_id","default":"<integer>","in":"query","type":"string","required":true},{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"frame_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"dominant_emotion":{"type":"string","description":"dominant_emotion"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/frames/{frame_id}/valence_arousal":{"get":{"summary":"Get Frames","description":"Retrieve Emotion Intensity for a Specific Frame","operationId":"GetFrames","parameters":[{"name":"face_id","default":"<integer>","in":"query","type":"string","required":true},{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"frame_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"valence":{"type":"string","description":"valence"},"arousal":{"type":"string","description":"arousal"},"intensity":{"type":"string","description":"intensity"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/frames/{frame_id}/faces/{face_id}/emotions":{"put":{"summary":"Update Emotion","description":"Update the emotion of a specific face in a frame","operationId":"UpdateEmotion","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"frame_id","default":"<string>","in":"path","type":"string","required":true},{"name":"face_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"object","properties":{"angry":{"type":"string","description":"angry"},"contempt":{"type":"string","description":"contempt"},"disgust":{"type":"string","description":"disgust"},"fear":{"type":"string","description":"fear"},"happy":{"type":"string","description":"happy"},"neutral":{"type":"string","description":"neutral"},"sad":{"type":"string","description":"sad"},"surprise":{"type":"string","description":"surprise"}},"default":{"angry":"<number>","contempt":"<number>","disgust":"<number>","fear":"<number>","happy":"<number>","neutral":"<number>","sad":"<number>","surprise":"<number>"}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"status":{"type":"string","description":"status"},"frame":{"type":"object","properties":{"original_frame_image":{"type":"string","description":"original_frame_image"},"frame_image":{"type":"string","description":"frame_image"},"found_faces":{"type":"array","items":{"type":"string"},"description":"found_faces"},"timestamp":{"type":"string","description":"timestamp"},"faces":{"type":"array","items":{"type":"object","properties":{"face_id":{"type":"string","description":"face_id"},"box":{"type":"array","items":{"type":"string"},"description":"box"},"frame_id":{"type":"string","description":"frame_id"},"emotions":{"type":"object","properties":{"angry":{"type":"string","description":"angry"},"contempt":{"type":"string","description":"contempt"},"disgust":{"type":"string","description":"disgust"},"fear":{"type":"string","description":"fear"},"happy":{"type":"string","description":"happy"},"neutral":{"type":"string","description":"neutral"},"sad":{"type":"string","description":"sad"},"surprise":{"type":"string","description":"surprise"}},"description":"emotions"}}},"description":"faces"},"frame_id":{"type":"string","description":"frame_id"}},"description":"frame"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/frames":{"get":{"summary":"Get Frames","description":"API to Retrieve Frames of the video based on video_id.","operationId":"GetFrames15","parameters":[{"name":"start_frame","default":"<string>","in":"query","type":"string","required":true},{"name":"length","default":"100","in":"query","type":"string","required":true},{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"array","items":{"type":"object","properties":{"original_frame_image":{"type":"string","description":"original_frame_image"},"frame_image":{"type":"string","description":"frame_image"},"found_faces":{"type":"array","items":{"type":"string"},"description":"found_faces"},"timestamp":{"type":"string","description":"timestamp"},"faces":{"type":"array","items":{"type":"object","properties":{"face_id":{"type":"string","description":"face_id"},"box":{"type":"array","items":{"type":"string"},"description":"box"},"frame_id":{"type":"string","description":"frame_id"},"emotions":{"type":"object","properties":{"angry":{"type":"string","description":"angry"},"contempt":{"type":"string","description":"contempt"},"disgust":{"type":"string","description":"disgust"},"fear":{"type":"string","description":"fear"},"happy":{"type":"string","description":"happy"},"neutral":{"type":"string","description":"neutral"},"sad":{"type":"string","description":"sad"},"surprise":{"type":"string","description":"surprise"}},"description":"emotions"}}},"description":"faces"},"frame_id":{"type":"string","description":"frame_id"}}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/frames/faces":{"put":{"summary":"Update Multiple Face Ids","description":"Update Face ID in multiple frames of a video","operationId":"UpdateMultipleFaceIds","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"new_face_id","value":"<integer>","description":"(Required) The new face ID to replace with."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"message":{"type":"string","description":"message"},"updated_frames":{"type":"array","items":{"type":"string"},"description":"updated_frames"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/highlights":{"get":{"summary":"Highlight Video","description":"Get the highlight video url of the video based on video_id.","operationId":"HighlightVideo","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"url":{"type":"string","description":"url"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"put":{"summary":"Update Highlight Video","description":"Update the highlight video","operationId":"UpdateHighlightVideo","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"start_time":{"type":"string","description":"start_time"},"end_time":{"type":"string","description":"end_time"}},"default":{"start_time":"<number>","end_time":"<number>"}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"message":{"type":"string","description":"message"},"segments":{"type":"array","items":{"type":"object","properties":{"start_time":{"type":"string","description":"start_time"},"end_time":{"type":"string","description":"end_time"}}},"description":"segments"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/summary":{"get":{"summary":"Get Video","description":"Get summary of a video based on video_id","operationId":"GetVideo","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"summary":{"type":"string","description":"summary"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"put":{"summary":"Edit Summary","description":"Update or clear the summary for a specific video file.","operationId":"EditSummary20","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"}},"default":{"key":"summary","value":"<string>"}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"summary":{"type":"string","description":"summary"},"message":{"type":"string","description":"message"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/{frame_id}/notes":{"post":{"summary":"Set Note","description":"Add a note to a frame in a video","operationId":"SetNote","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"frame_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"}},"default":{"key":"text","value":"<string>"}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"frame_id":{"type":"string","description":"frame_id"},"status":{"type":"string","description":"status"},"message":{"type":"string","description":"message"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"put":{"summary":"Edit Note","description":"Edit the note for a frame in a video","operationId":"EditNote","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"frame_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"}},"default":{"key":"text","value":"<string>"}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"frame_id":{"type":"string","description":"frame_id"},"status":{"type":"string","description":"status"},"message":{"type":"string","description":"message"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/{frame_id}/annotated_frame":{"get":{"summary":"Download Frame","description":"Download the annotated frame","operationId":"DownloadFrame","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"frame_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/faces/{face_id}":{"delete":{"summary":"Delete Face","description":"Deletes a specified face from the video without deleting the video itself.","operationId":"DeleteFace","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"face_id","default":"<integer>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"detail":{"type":"string","description":"detail"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/faces/{face_id}/name":{"put":{"summary":"Update Face Name","description":"Updates the name of a specific face in a video.","operationId":"UpdateFaceName","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"face_id","default":"<integer>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"name","value":"<string>","description":"(Required) The new name for the face."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"detail":{"type":"string","description":"detail"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/faces":{"put":{"summary":"Merge Face","description":"Merges multiple faces from a video into a selected face to remove duplicates","operationId":"MergeFace","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"merge_face_id","value":"<string>","description":"(Required) A comma-separated list of unique face IDs of the faces in the video to be merged."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"detail":{"type":"string","description":"detail"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/personality_traits":{"get":{"summary":"Get Personality Traits","description":"Get the personality traits of a video","operationId":"GetPersonalityTraits","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"message":{"type":"string","description":"message"},"status":{"type":"string","description":"status"},"personality_data":{"type":"object","properties":{"Extraversion":{"type":"string","description":"Extraversion"},"Neuroticism":{"type":"string","description":"Neuroticism"},"Agreeableness":{"type":"string","description":"Agreeableness"},"Conscientiousness":{"type":"string","description":"Conscientiousness"},"Openness":{"type":"string","description":"Openness"}},"description":"personality_data"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"post":{"summary":"Personality Traits","description":"Processes video to extract and analyze personality traits using machine learning models","operationId":"PersonalityTraits","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"callback_url","value":"<string>","description":"(Required) The callback url to notify personality processing is completed. Give a valid URL."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"message":{"type":"string","description":"message"},"status":{"type":"string","description":"status"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/report":{"get":{"summary":"Download Video Emotion Analysis Report","description":"Download a videos's processed analysis details based on the provided video ID.","operationId":"DownloadVideoEmotionAnalysisReport","parameters":[{"name":"video_id","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"post":{"summary":"Generate Video Emotion Analysis Report","description":"Initiates the generation of an analysis report for the specified video. \nThe user will be notified at the provided callback URL once the process is complete.","operationId":"GenerateVideoEmotionAnalysisReport","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"callback_url","value":"<string>","description":"(Required) The callback url to notify once analysis report is generated. Give a valid URL."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"message":{"type":"string","description":"message"},"status":{"type":"string","description":"status"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}":{"get":{"summary":"Get Video","description":"Get a single video details by ID","operationId":"GetVideo31","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"description":{"type":"string","description":"description"},"id":{"type":"string","description":"id"},"original_video":{"type":"object","properties":{},"description":"original_video"},"annotated_video":{"type":"object","properties":{},"description":"annotated_video"},"height":{"type":"string","description":"height"},"width":{"type":"string","description":"width"},"status":{"type":"string","description":"status"},"title":{"type":"string","description":"title"},"emotions_list":{"type":"array","items":{"type":"string"},"description":"emotions_list"},"faces":{"type":"array","items":{"type":"object","properties":{"image":{"type":"string","description":"image"},"face_id":{"type":"string","description":"face_id"},"name":{"type":"string","description":"name"}}},"description":"faces"},"audio_transcription":{"type":"string","description":"audio_transcription"},"summary":{"type":"string","description":"summary"},"frames":{"type":"string","description":"frames"},"fps":{"type":"string","description":"fps"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"delete":{"summary":"Delete Video By Id","description":"Delete an video's processed details and its frames subcollection based on the provided video ID.","operationId":"DeleteVideoById","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"put":{"summary":"Reprocess Video","description":"Reprocesses a multimodal video with a failed or completed status","operationId":"ReprocessVideo","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"reprocess","value":"<boolean>","description":"Set to 'True' to reprocess an already completed video; defaults to 'False'."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"message":{"type":"string","description":"message"},"status":{"type":"string","description":"status"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/highlight_video":{"get":{"summary":"Download Highlight Video","description":"Download the highlight video.","operationId":"DownloadHighlightVideo","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/annotated_video":{"get":{"summary":"Download Video","description":"Download the annotated video","operationId":"DownloadVideo","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/valence_arousal":{"get":{"summary":"Get Valence Arousal","description":"Get emotion intensities of a video based on video_id","operationId":"GetValenceArousal","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"valence":{"type":"string","description":"valence"},"arousal":{"type":"string","description":"arousal"},"intensity":{"type":"string","description":"intensity"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/average_emotion":{"get":{"summary":"Average Emotion","description":"Calculates and stores the average emotion data for a video","operationId":"AverageEmotion","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"angry":{"type":"string","description":"angry"},"contempt":{"type":"string","description":"contempt"},"disgust":{"type":"string","description":"disgust"},"fear":{"type":"string","description":"fear"},"happy":{"type":"string","description":"happy"},"neutral":{"type":"string","description":"neutral"},"sad":{"type":"string","description":"sad"},"surprise":{"type":"string","description":"surprise"},"message":{"type":"string","description":"message"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/title_description":{"put":{"summary":"Edit Title And Description By Id","description":"Edit the title and desciption of an video  based on the provided audio ID.","operationId":"EditTitleAndDescriptionById38","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"}},"default":{"key":"description","value":"<string>"}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"status":{"type":"string","description":"status"},"message":{"type":"string","description":"message"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/{video_id}/psychologist_review/request":{"put":{"summary":"Request Psychologist Review","description":"Request a psychologist's review for the analysis details based on the provided video ID.","operationId":"RequestPsychologistReview","parameters":[{"name":"video_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos":{"get":{"summary":"Get Videos","description":"API to get videos processed by user","operationId":"GetVideos","parameters":[{"name":"start_after","default":"<string>","in":"query","type":"string","required":true},{"name":"page_size","default":"10","in":"query","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"},"title":{"type":"string","description":"title"}}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"post":{"summary":"Create","description":"API to Upload Video for emotion analysis","operationId":"Create","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"multipart/form-data","description":"Content-Type"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"},"title":{"type":"string","description":"title"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/videos/highlights":{"post":{"summary":"Process Highlight","description":"API endpoint for highlight generation of a video.","operationId":"ProcessHighlight","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"video_id","value":"<string>","description":"(Required) The unique video ID of the video for which the highlight to be generated."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"message":{"type":"string","description":"message"},"url":{"type":"string","description":"url"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/images/{image_id}":{"get":{"summary":"Get Image","description":"Get a single image details by ID","operationId":"GetImage","parameters":[{"name":"image_id","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"title":{"type":"string","description":"title"},"description":{"type":"string","description":"description"},"status":{"type":"string","description":"status"},"created_at":{"type":"string","description":"created_at"},"original_frame_image":{"type":"string","description":"original_frame_image"},"height":{"type":"integer","format":"int32","description":"height"},"width":{"type":"integer","format":"int32","description":"width"},"found_faces":{"type":"array","items":{"type":"integer","format":"int32"},"description":"found_faces"},"faces":{"type":"array","items":{"type":"object","properties":{"face_id":{"type":"integer","format":"int32","description":"face_id"},"emotions":{"type":"object","properties":{"surprise":{"type":"number","format":"float","description":"surprise"},"contempt":{"type":"number","format":"float","description":"contempt"},"sad":{"type":"number","format":"float","description":"sad"},"happy":{"type":"number","format":"float","description":"happy"},"angry":{"type":"number","format":"float","description":"angry"},"disgust":{"type":"number","format":"float","description":"disgust"},"neutral":{"type":"number","format":"float","description":"neutral"},"fear":{"type":"number","format":"float","description":"fear"}},"description":"emotions"},"box":{"type":"array","items":{"type":"integer","format":"int32"},"description":"box"}}},"description":"faces"},"annotated_image":{"type":"string","description":"annotated_image"},"id":{"type":"string","description":"id"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"delete":{"summary":"Delete Image By Id","description":"Delete an image's processed details and its `notes` subcollection based on the provided image ID.","operationId":"DeleteImageById","parameters":[{"name":"image_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"put":{"summary":"Reprocess Image","description":"Reprocesses an image with a failed or completed status","operationId":"ReprocessImage","parameters":[{"name":"image_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"reprocess","value":"<boolean>","description":"Set to 'True' to reprocess an already completed image; defaults to 'False'."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"message":{"type":"string","description":"message"},"status":{"type":"string","description":"status"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/images/{image_id}/annotated_image":{"get":{"summary":"Download Image","description":"API to download the annotated image","operationId":"DownloadImage","parameters":[{"name":"image_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/images/{image_id}/title_description":{"put":{"summary":"Edit Title And Description By Id","description":"Edit the title and description of an image based on the provided image ID.","operationId":"EditTitleAndDescriptionById47","parameters":[{"name":"image_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"}},"default":{"key":"description","value":"<string>"}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"status":{"type":"string","description":"status"},"message":{"type":"string","description":"message"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/images/{image_id}/report":{"get":{"summary":"Download Image Analysis","description":"Download a image's processed analysis details based on the provided image ID.","operationId":"DownloadImageAnalysis","parameters":[{"name":"image_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/images":{"get":{"summary":"Get Images","description":"Retrieve the status,id of images uploaded by user.","operationId":"GetImages","parameters":[{"name":"start_after","default":"<string>","in":"query","type":"string","required":true},{"name":"page_size","default":"10","in":"query","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"},"title":{"type":"string","description":"title"}}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"post":{"summary":"Create Image Api","description":"The API to Upload Image for emotion analysis","operationId":"CreateImageApi","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"multipart/form-data","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"},"title":{"type":"string","description":"title"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/texts/{text_id}":{"get":{"summary":"Get Text","description":"Get a single text processed details based on text id.","operationId":"GetText","parameters":[{"name":"text_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"created_at":{"type":"object","properties":{},"description":"created_at"},"status":{"type":"string","description":"status"},"text":{"type":"string","description":"text"},"user_id":{"type":"string","description":"user_id"},"word_count":{"type":"string","description":"word_count"},"sentences":{"type":"array","items":{"type":"object","properties":{"emotions":{"type":"string","description":"emotions"},"sentence":{"type":"string","description":"sentence"}}},"description":"sentences"},"text_emotions":{"type":"string","description":"text_emotions"},"bulk_upload_id":{"type":"string","description":"bulk_upload_id"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"delete":{"summary":"Delete Text By Id","description":"Delete a text's processed details based on the provided text ID.","operationId":"DeleteTextById","parameters":[{"name":"text_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"put":{"summary":"Reprocess Text","description":"Reprocess a text file based on text id.","operationId":"ReprocessText","parameters":[{"name":"text_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"reprocess","value":"<boolean>","description":"Set to 'True' to reprocess an already processed text; defaults to 'False'."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"message":{"type":"string","description":"message"},"status":{"type":"string","description":"status"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/texts/{text_id}/emotions":{"put":{"summary":"Reprocess Text Emotions","description":"Reprocess the emotions and keywords for a given text based on its ID.","operationId":"ReprocessTextEmotions","parameters":[{"name":"text_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"callback_url","value":"<string>","description":"(Required) The URL to notify when the processing is complete."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/texts/{text_id}/report":{"get":{"summary":"Download Text Analysis","description":"Download a text's processed analysis details based on the provided text ID.","operationId":"DownloadTextAnalysis","parameters":[{"name":"text_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/texts":{"get":{"summary":"Get Texts","description":"API to get all texts processed by user.","operationId":"GetTexts","parameters":[{"name":"start_after","default":"<string>","in":"query","type":"string","required":true},{"name":"page_size","default":"10","in":"query","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"}],"responses":{"200":{"description":"200","schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"}}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"post":{"summary":"Predict Sentiment","description":"API for uploading an text for emotion analysis.","operationId":"PredictSentiment","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"bulk_upload_id","value":"<string>","description":"Optional identifier for bulk uploads. If you are performing a bulk operation, provide the unique ID associated with that bulk upload."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/bulk_uploads/{bulk_id}":{"get":{"summary":"Download Bulk Import","description":"API to download bulk upload csv","operationId":"DownloadBulkImport","parameters":[{"name":"bulk_id","default":"","in":"path","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"},"title":{"type":"string","description":"title"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}},"put":{"summary":"Reprocesss Bulk Media","description":"API to reprocess bulk upload media if specific media is failed","operationId":"ReprocesssBulkMedia","parameters":[{"name":"bulk_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"media_type","value":"<string>","description":"(Required) The type of the media to reprocess."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/bulk_uploads/{bulk_id}/status":{"put":{"summary":"Add Each Videos To Queue","description":"API to update bulk upload status","operationId":"AddEachVideosToQueue","parameters":[{"name":"bulk_id","default":"<string>","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"status","value":"<string>","description":"(Required) The status of the bulk upload. It can be PROCESS, PAUSE, CANCEL and RESUME."}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/bulk_uploads":{"post":{"summary":"Bulk Import","description":"API to import bulk upload","operationId":"BulkImport","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"multipart/form-data","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"status":{"type":"string","description":"status"},"title":{"type":"string","description":"title"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/api_key":{"post":{"summary":"Generate Apikey","description":"API for generating an API key for users who log in for the first time.","operationId":"GenerateApikey","parameters":[{"name":"token","default":"<string>","in":"query","type":"string","required":true},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"api_key":{"type":"string","description":"api_key"}}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}},"/v1/projects":{"post":{"summary":"Create Project Api","description":"Creates a new project.","operationId":"CreateProjectApi","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/x-www-form-urlencoded","description":"Content-Type","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept","x-ms-visibility":"internal"},{"name":"body","in":"body","schema":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"key"},"value":{"type":"string","description":"value"},"description":{"type":"string","description":"description"}},"default":{"key":"type","value":"<string>","description":"(Required) The feature of the project. For example 'audience_panel'"}}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{}}},"422":{"description":"422","schema":{"type":"object","properties":{"detail":{"type":"array","items":{"type":"object","properties":{"loc":{"type":"array","items":{"type":"string"},"description":"loc"},"msg":{"type":"string","description":"msg"},"type":{"type":"string","description":"type"}}},"description":"detail"}}}}}}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"api_key":{"type":"apiKey","in":"header","name":"X-API-Key"}},"security":[],"tags":[]}